{% comment %} <!-- 스태틱 파일에서 bootstrap.min.css 파일을 불러옴 -->
{% load static %}
<!-- css 링크 코드 -->
<link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}"> {% endcomment %}
{% extends 'base.html' %}
{% block content %}
<div class="container my-3">
    <table class="table">
        <thead>
            <tr class="thead-dark">
                <th>번호</th>
                <th>제목</th>
                <th>작성일시</th>
            </tr>
        </thead>
        <tbody>
            {% if question_list %}
            {% for question in question_list %}
            <tr>
                <!-- 반복시 자동으로 순서값이 매겨짐 -->
                <td>{{ forloop.counter }}</td>
                <td>
                    <a href="{% url 'pybo:detail' question.id %}">
                        {{ question.subject }}
                    </a>
                </td>
                <td>{{ question.create_date }}</td>
            </tr>
            {% endfor %}
            {% else %}
            <tr>
                <td colspan="3">질문이 없습니다.</td>
            </tr>
            {% endif %}
        </tbody>
    </table>
</div>
{% endblock content %}

<!-- {% if question_list %}
<ul>
    {% for question in question_list %}
    <!- namespace 설정 후, url 지정 방식인데 이해를 아직 못함 ->
    <li><a href="{% url 'pybo:detail' question.id %}">{{question.subject}}</a></li>
{% endfor %}
</ul>
{% else %}
<p>질문이 없습니다.</p>
{% endif %} -->