{% extends 'base.html' %}
<!-- 최상단과 하단 주석시 사이트 에러 발생: 이유는 모르겠음 -->
{% block content %}
<div class="container my-3">
    <table class="table">
        <thead>
            <tr class="thead-dark">
                <th>번호</th>
                <th>제목</th>
                <th>작성일시</th>
            </tr>
        </thead>
        <tbody>
            {% if question_list %}
            {% for question in question_list %}
            <tr>
                <!-- 반복시 자동으로 순서값이 매겨짐 -->
                <td>{{ forloop.counter }}</td>
                <td>
                    <a href="{% url 'pybo:detail' question.id %}">
                        {{ question.subject }}
                    </a>
                </td>
                <td>{{ question.create_date }}</td>
            </tr>
            {% endfor %}
            {% else %}
            <tr>
                <td colspan="3">질문이 없습니다.</td>
            </tr>
            {% endif %}
        </tbody>
    </table>
</div>
<!-- 최상단과 하단 주석시 사이트 에러 발생: 이유는 모르겠음 -->
{% endblock content %}